[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fix bug duplicated launcher in xfce4-panel
Exec=/usr/share/kali-themes/fix-duplicated-xfce-panel-launcher.sh
OnlyShowIn=XFCE;
RunHook=1
StartupNotify=false
Terminal=false
